#language-menu a {
  width: 16px;
  height: 11px;
  display: inline-block;
  margin: 0px 3px;
}
#language-menu a#portuguese {
  background: url(images/portugues.jpg) center no-repeat;
}
#language-menu a#english {
  background: url(images/english.png) center no-repeat;
}

body {
    background: url(images/art.jpg);
    background-repeat: no-repeat;
    background-position: center 25%;
}
.card {
    background-color: rgba(245, 245, 245, 0.9)
}
